<app-navbar></app-navbar>


<br>
<br>
<div class="container">

  <form *ngIf="isFaculty" [formGroup]="uploadNotesForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputAddress">Remark</label>
      <input type="text" class="form-control" id="inputAddress" formControlName="remark">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Description</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="description">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Subject</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="subject">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Subject Code</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="subject_code" placeholder="">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Sem</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="sem" placeholder="">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Year</label>
      <input type="text" class="form-control" id="inputAddress2" formControlName="year" placeholder="">
    </div>

    <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file"
             id="file" formControlName="file"
             (change)="handleFileInput($event)"
      >
    </div>
    <button type="submit" class="btn btn-primary">Upload Notes</button>

  </form>
</div>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
